:root {
  --cor-fundo: #000000;
  --cor-principal: #222d92;
  --cor-secundaria: #011adb;
  --cor-destaque: #00d9ff;
  --cor-texto: #ffffff;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
h1 {
  color: var(--cor-destaque);
}